<div class="flex justify-center flex-wrap">
  <div class="center">
    <h1 class="mat-headline-4 primary">Unauthorized</h1>
    <h2 class="mat-h2">There has been a problem with your login.</h2>

    <hr class="bg-slate-400" />

    <div>
      <p class="mb-12"
        >Usually this happens because your computer date/time is not set correctly or because you
        need to clear your cookies.</p
      >

      <p
        >You can try to fix it with our help
        <a href="https://help.orvium.io/troubleshooting/troubleshooting/" target="_blank">
          <button mat-raised-button type="button">
            <mat-icon>help</mat-icon>
            Troubleshooting
          </button>
        </a>
      </p>

      <p
        >You may want to head back to the homepage
        <button mat-raised-button color="primary" type="button" [routerLink]="['']">
          <mat-icon>home</mat-icon>
          Go to Homepage
        </button>
      </p>

      <p
        >If you think something is broken, report a problem
        <button mat-raised-button appFeedback color="warn" type="button" (send)="onSend($event)">
          <mat-icon>bug_report</mat-icon>
          Report a problem
        </button>
      </p>
    </div>
  </div>
  <img
    src="https://assets.orvium.io/get-answered.svg"
    class="hidden md:block w-2/5 max-w-xl"
    alt="Get answered"
  />
</div>
