<div mat-dialog-content>
  <h2 class="primary mat-headline-6">{{ title }}</h2>
  <p class="mat-body">{{ content }}</p>
  <form [formGroup]="inputForm">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ inputLabel }}</mat-label>
      @if (!useTextarea) {
        <input
          type="text"
          matInput
          data-test="input-message"
          [formControl]="inputForm.controls.message"
        />
      }
      @if (useTextarea) {
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="5"
          data-test="input-message"
          [formControl]="inputForm.controls.message"
        ></textarea>
      }
    </mat-form-field>
  </form>
  <div class="flex justify-end gap-2">
    <button mat-raised-button color="primary" type="button" (click)="confirm()">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      {{ acceptMessage }}
    </button>
    <button mat-button type="button" (click)="cancel()">{{ cancelMessage }}</button>
  </div>
</div>
