.error-snackbar {
  background-color: #febabb !important;
  color: #a74544 !important;
}

.ok-snackbar {
  background-color: #dfefd9 !important;
  color: #3e754f !important;
}

.warning-snackbar {
  background-color: #fcf8e4 !important;
  color: #896d3f !important;
}

.info-snackbar {
  background-color: #d9edf6 !important;
  color: #34718e !important;
}

.mat-simple-snackbar-action {
  color: black !important;
}
