<div #component class="flex-1">
  <h3 id="start">Start</h3>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <h4 id="anchor">anchor</h4>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <h3 id="end">End</h3>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
  <div>some text</div>
</div>
<app-table-of-contents #toc container=".mat-drawer-content" />
