.benefit-pink {
  .image {
    background-color: #fde4f6;

    .icon {
      color: #f579d4;
    }
  }
}

.benefit-green {
  .image {
    background-color: #c3f3eb;

    .icon {
      color: #37d8be;
    }
  }
}

.benefit-purple {
  .image {
    background-color: #e8ddff;

    .icon {
      color: #8c54ff;
    }
  }
}
